<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="quindar.space">
    <title>Quindar Proxy</title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/quindar-proxy.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	<div class="container" style="background-color:#efefef">
		<center><h2>Data Sources</h2></center>
    	<form action="/upload" method="post" enctype="multipart/form-data">
    		<table class="table table-hover" id="table">
    			<thead>
		            <tr>
		                <th>Source Name</th>
		                <th>File</th>
		                <th>Upload</th>
		            </tr>
		        </thead>
		        <tbody class="details" id="body">
		              <tr>
		                   <td><input type="text" name="sourcename" class="form-control sourcename" required></td>
		                   <td>
								<div class="input-group">
	                				<label class="input-group-btn">
		                    			<span class="btn btn-primary">
		                        			Browse <input type="file" name="file" id="file" style="display: none;">
		                    			</span>
	               					</label>
	                				<input type="text" class="form-control" id="filename" readonly>
	            				</div>
	    				   </td>
		                   <td><input type="submit"  class="btn btn-primary upload" value="Upload"></td>
		              </tr>
		        </tbody>
	    	</table>
	  	</form>
		<center><p><%= typeof error_code!='undefined' ? (error_code!=1 ? msg : err_desc) : "" %></p></center>
	</div>

	<!-- jQuery -->
    <script src="/scripts/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/scripts/bootstrap.min.js"></script>
    <script>
		$("#file").change(function(){
			var filename = $(this).val().replace(/\\/g, '/').replace(/.*\//, '');
			$('#filename').val(filename);
		});
	</script>

</body>
</html>
