.md-sidenav-left {
	min-width: 50px !important;
 	width: 50vw !important;
 	max-width: 50px !important;
	min-height : 100vh;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,89fbff+100 */
	background: #000000 !important; /* Old browsers */
	background: -moz-linear-gradient(top,  #000000 0%, #89fbff 100%) !important; /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #000000 0%,#89fbff 100%) !important; /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #000000 0%,#89fbff 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#89fbff',GradientType=0 ) !important; /* IE6-9 */
}

#left {
	background-color: inherit;
	margin-top: 50px;
}
			
.brand {
	background-color: inherit !important;
}

md-icon {
  	width: 36px !important;
    height: 36px;
}

.md-icon {
	width: 30px !important;
	height: 30px;
	margin-right: 0px !important;
	margin-top: 0px !important;
	margin-left: 10px !important;
}

.md-icon:focus {
	outline: auto 0px;
}

#list1 {
	padding: 0px 0px;
}

.main {
	height: 100%;
}

iframe {
	border: 0px;
}