.internalModalHeader{
	background: #efefef;
	font-size:14px !important;
}

.internalModalBody{
	width:100%;
	background: #fafafa;
	font-size:12px;
	margin-top:20px;
}

.internalModalDisplayList{
	width:100%;
	min-height:100px;
	background: #fafafa;
	font-size:12px;
}

#internalModalSearchInput{
	width:100%;
	margin-top:10px;
	margin-bottom:10px;
	background: url('/media/icons/search.svg');
	background-position: 10px 8px;
  	background-repeat: no-repeat;
  	padding: 6px 30px 6px 30px;
  	border:1px solid #ccc;
  	border-radius:4px;
  	background-color:#fff;
}

.internalModalBodyButtons{
	font-size:12px;
	padding-top:8px;
	padding-bottom:7px;
}