<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="description" content="">
	    <meta name="author" content="qsvr.quindar.space">
	    <title>Quindar Proxy</title>

	    <!-- Bootstrap Core CSS -->
	    <link href="/css/bootstrap.min.css" rel="stylesheet">

	    <!-- Custom CSS -->
	    <link href="/css/quindar-proxy.css" rel="stylesheet">
	    <link href="/css/modalStyles.css" rel="stylesheet">

	    <!-- Angular Scripts and file upload dependencies -->
	    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
		<script type="text/javascript" src="/scripts/ng-file-upload.min.js"></script>
	    <script type="text/javascript" src="/scripts/ng-file-upload-shim.min.js"></script>
	    <script src="/scripts/ui-bootstrap-tpls.js"></script>

	    <!-- AngularJS Material Dependencies -->
    	<script src="/scripts/angular-animate.min.js"></script>

	    <!-- Angular module -->
		<script src="/app.js"></script>
		<script src="/controllers/sourceCtrl.js"></script>
		<script src="/services/configService.js"></script>

	</head>
	<body ng-app="sourceApp" ng-controller="SourceCtrl as ctrl">
		<div class="container form">
			<center><h2>Data Sources</h2></center>
	    	<form name="ctrl.upload_form" enctype="multipart/form-data">
	    		<table class="table table-hover">
	    			<thead>
			            <tr>
			                <th>Source Name</th>
			                <th>IP Address</th>
			                <th>Mission Name</th>
			                <th>File</th>
			                <th>Upload</th>
			            </tr>
			        </thead>
			        <tbody class="details">
			        	<tr>
			        		<td>
			        			<input type="text" name="sourcename" class="form-control" ng-model="ctrl.config.sourcename" required>
			        			<span ng-show="ctrl.upload_form.sourcename.$error.required && !ctrl.upload_form.sourcename.$pristine">This field is required!</span>
			        		</td>
			        		<td>
			        			<input type="text" name="sourceip" class="form-control" 
			        			ng-model="ctrl.config.sourceip" required
			        			ng-pattern='/^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/'>
			        			<span ng-show="ctrl.upload_form.sourceip.$error.pattern">Not a valid IP Address!</span>
			        			<span ng-show="ctrl.upload_form.sourceip.$error.required && !ctrl.upload_form.sourceip.$pristine">This field is required!</span>
			        		</td>
			        		<td>
			        			<input type="text" name="mission" class="form-control" ng-model="ctrl.config.mission" required>
			        			<span ng-show="ctrl.upload_form.mission.$error.required && !ctrl.upload_form.mission.$pristine">This field is required!</span>
			        		</td>
			        		<td>
			        			<div class="input-group">
			        				<label class="input-group-btn">
			        					<span class="btn btn-primary">
			        						Browse 
			        						<input type="file" id="file" ngf-select ng-model="ctrl.config.file" name="file" 
			        						ngf-pattern="'.xlsx'" accept=".xlsx" ngf-max-size="1MB" style="display: none;">
			                    		</span>
		               				</label>
		                			<input type="text" class="form-control" value="{{ ctrl.config.file.name }}" readonly>
		            			</div>
		            			<span ng-show="ctrl.upload_form.file.$error.pattern">Not a valid xlsx file!</span>
		            		</td>
		            		<td>
			                   	<input type="submit" ng-click="ctrl.submit()" class="btn btn-primary upload" value="Upload">
			                </td>
			            </tr>
			        </tbody>
		    	</table>
		  	</form>
		</div>

		<div class="container list">
			<table class="table table-hover">
	    		<thead>
			        <tr>
			            <th>Source Name</th>
		                <th>IP Address</th>
		                <th>Mission Name</th>
		                <th>File Name</th>
		                <th>Attachments</th>
		            </tr>
		        </thead>
		        <tbody class="details">
			     	<tr ng-repeat="config in ctrl.configlist">
			     	    <td flex="20">{{ config.source.name }}</td>
			            <td flex="10">{{ config.source.ipaddress }}</td>
			            <td flex="20">{{ config.mission }}</td>
		                <td flex="25">{{ config.source.filename }}</td>
		                <td flex="25"><a ng-click="ctrl.showModal(config.mission,config.source.ipaddress)" title="Attach Files">
		                	<img class="aggFileIcon" ng-src="../../public/media/icons/attachment-vertical-paperclip.svg"/>
		                	</a>
		                </td>
			        </tr>
			    </tbody>
		    </table>
		</div>

		<!-- jQuery -->
	    <script src="/scripts/jquery.js"></script>

	    <!-- Bootstrap Core JavaScript -->
	    <script src="/scripts/bootstrap.min.js"></script>

	</body>
</html>
